

<div id="footer"  class="container-fluid bg-main-light  pb-4 ">
    <div class="container">
        <div class="row ">
            <h4 class="pt-5 ">Get The FreshCart App</h4>
            <p class="text-muted">We will send you a link, open it in your phone to download the app.</p>
            <div class="col-md-9">
                <input type="email" placeholder="Email.." class="form-control ms-2" />
            </div>
            <div class="col-md-3">
                <button class="btn bg-main text-white w-100">Share App Link</button>
            </div>
        </div>
        <div class="border  my-4"></div>
        <div class="row">
            <div class="parent d-flex justify-content-between">
                <div class="col-md-6 part3">
                 <div class="part1 d-flex part2">
                     <h6 class="fw-semibold me-2 pt-2">Payment Partners</h6>
                   <div class="d-flex align-items-center">
                    <i class="fa-brands fa-cc-amazon-pay fs-3 ms-1" style="color: rgb(250, 176, 5);"></i>
                    <i class="fa-brands fa-cc-mastercard fs-3 ms-2" style="color: rgb(247, 92, 0);"></i>
                    <i class="fa-brands fa-cc-paypal fs-3 ms-2 text-info"></i>
                    <i class="fa-brands fa-cc-apple-pay fs-3 ms-2 text-success"></i>
                   </div>
                 </div>
                </div>
                <div class="col-md-6  ps-3 part3">
                 <div class="part2 d-flex ms-5 ps-5">
                     <h6 class="fw-semibold me-2 pt-2">Get deliveries with FreshCart</h6>
                     <img src="../../assets/images/images/download1.png" class="rounded me-2 imgwidth"/>
                     <img src="../../assets/images/images/download2.png" class="rounded imgwidth"/>
                 </div>
                </div>
             </div>
 
        </div>
        <div class="border  mt-4 mb-5"></div>
    </div>
</div>